@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2> @Html.ActionLink("List of Companies", "Index", "CompaniesDBs")</h2>        
    </div>
    <div class="col-md-4">
        <h2> @Html.ActionLink("List of Emplyees", "Index", "EmployeeDBs")</h2>
    </div>
    <div class="col-md-4">
        <h2> @Html.ActionLink("EmployeeInfo", "Index", "EmplyeeInfoDBs")</h2>            
    </div>
</div>